<div>
    <div class="menu">
        <div class="find">
            <input class="ftext" type="text" placeholder="Tìm kiếm" />
            <button type="submit" class="btn">Tìm Kiếm</button>
        </div>
    </div>
    <div class="contents">
        <div class="list">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sub-box">
                        <div class="img-list">
                            <img src="assets/img/nha1.jpg" title="" />
                        </div>
                        <div class="info">
                            <h4>Nhà Bán</h4>
                            <br />
                            <b>Giá: 10 Tỷ</b>
                            <br />
                            <button (click)="onClick()" class="btn" type="submit">
                                <i class="fas fa-search-plus"></i> Xem</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sub-box">
                        <div class="info-box">
                            <div class="img-list">
                                <img src="assets/img/nha2.jpg" title="" />
                            </div>
                            <div class="info">
                                <h4>Nhà Bán</h4>
                                <br />
                                <b>Giá: 10 Tỷ</b>
                                <br />
                                <button class="btn" type="submit">
                                    <i class="fas fa-search-plus"></i> Xem</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sub-box">
                        <div class="info-box">
                            <div class="img-list">
                                <img src="assets/img/nha3.jpg" title="" />
                            </div>
                            <div class="info">
                                <h4>Nhà Bán</h4>
                                <br />
                                <b>Giá: 10 Tỷ</b>
                                <br />
                                <button class="btn" type="submit">
                                    <i class="fas fa-search-plus"></i> Xem</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sub-box">
                        <div class="info-box">
                            <div class="img-list">
                                <img src="assets/img/nha4.jpg" title="" />
                            </div>
                            <div class="info">
                                <h4>Nhà Bán</h4>
                                <br />
                                <b>Giá: 10 Tỷ</b>
                                <br />
                                <button class="btn" type="submit">
                                    <i class="fas fa-search-plus"></i> Xem</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>