<div class="contents d-flex">
  <div class="col-lg-3 p-5-5-5-0">
    <div class="sub-box mt-3 text-center">
      <div class="h05">
        <h5>Trang cá nhân</h5>
      </div>
      <div>
        <div>
          <img src="assets/img/logo.png" class="sub-box rounded-circle size mt-5 mb-4">
        </div>
        <div>
          <h4 class="h04">Tôn Võ Thủy Tiên</h4>
          <h5 class="font">Mã tài khoản: --------------</h5>
          <h5 class="font">Tài khoản: Vip Đặc Biệt</h5>
          <h5 class="font">Email: tonvothuytien@gmail.com</h5>
        </div>
      </div>
    </div>
    <div class="sub-box mt-3 pl-2">
      <div>
        <div>Đổi mật khẩu</div>
        <a routerLink='/Home'>
          <div>Đăng xuất</div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-9 p-5-0-5-0">
    <div class="mt-3">
      <div class="h05">
        <h5>Quản lý tin rao bán cho thuê</h5>
      </div>
      <div class="grid-table text-center">
        <div class="thead">
          <div class="tr">
            <div class="td w1">STT</div>
            <div class="td w2">Mã tin</div>
            <div class="td w3">Tiêu Đề</div>
            <div class="td w4">Xem</div>
            <div class="td w5">Ngày bắt đầu</div>
            <div class="td w5">Ngày kết thúc</div>
            <div class="td w2">Trạng thái</div>
          </div>
        </div>
        <div class="tbody">
          <form class="tr">
            <div class="td">
              1
            </div>
            <div class="td">
              ----------
            </div>
            <div class="td text-left">
              ---------------------------------------------------------------------
            </div>
            <div class="td">
              0
            </div>
            <div class="td">
              21/05/2020
            </div>
            <div class="td">
              22/05/2021
            </div>
            <div class="td">
              Chờ duyệt
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>