<h2 class="title">Đăng Ký</h2>
<form class="regist">
    <div class="form-group">
        <label> Số Điện Thoại <span class="note">*</span> </label> <br>
        <input type="text" class="form-control">
    </div>
    <div>
        <div class="form-group ">
            <label> Mật Khẩu <span class="note">*</span></label> <br>
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <label> Nhập Lại Mật Khẩu <span class="note">*</span></label> <br>
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label> Họ Và Tên <span class="note">*</span></label> <br>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label> Email <span class="note">*</span></label> <br>
        <input type="email" class="form-control">
    </div>
    <div class="form-group">
        <label> Địa Chỉ </label> <br>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label> Giới Tính </label> <br>
        <input type="radio" value="Nam">Nam
        <input type="radio" value="Nữ">Nữ
    </div>
    <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-primary btn-block bg" (click)="onClick()">
            Đăng Ký
        </button>
    </div>
</form>