<div class="d-flex pt-3 flex-nowrap">
  <div class="ads2 sticky-top">
    <div class="">
      <img class="w-100" src="assets/img/ads2.png" title="ads">
    </div>
  </div>
  <div class="container">
    <div class="padding">
      <h1 class="fontsize-32 font-weight-bold color-5">ĐĂNG TIN RAO BÁN, CHO THUÊ NHÀ ĐẤT MIỄN PHÍ</h1>
      <div class="fontsize-14 color ">(Quý vị nhập thông tin nhà đất cần bán hoặc cho thuê vào các mục dưới đây)
      </div>
      <div class="row">
        <div class="col-md-9 pl0">
          <div class="background-white p-3">
            <div class="pb-3">
              <h3 class="font-weight-bold fontsize-24 color-3">Thông tin bất động sản</h3>
            </div>
            <form [formGroup]="form" (submit)="onSubmit()">
              <div class="form-group">
                <div class="font-weight-bold mb-3">Tiêu đề <span class="note">*</span></div>
                <textarea type="text" class="form-control textarea color-3 border-b4 p-1" rows="3" placeholder="Tiêu đề"
                  formControlName="Title"></textarea>
              </div>
              <div class="font-weight-bold mb-3">Loại hình giao dịch <span class="note">*</span></div>
              <div class="form-row">
                <div class="form-group col-md-3" *ngFor="let item of TypeOfTransactions">
                  <label class="radio-item mr-1">{{item.name}}
                    <input type="radio" name="TypeOfTransactionId" value="{{item.id}}"
                      formControlName="TypeOfTransactionId"
                      [checked]="form.get('TypeOfTransactionId').value == item.id">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="font-weight-bold mb-3">Loại bất động sản <span class="note">*</span></div>
              <div class="form-row">
                <div class="form-group col-md-3" *ngFor="let item of TypeOfProperties">
                  <label class="radio-item mr-1">{{item.name}}
                    <input type="radio" name="TypeOfPropertyId" value="{{item.id}}" formControlName="TypeOfPropertyId"
                      [checked]="form.get('TypeOfPropertyId').value == item.id">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div>
                <div class="font-weight-bold mb-3">Địa chỉ <span class="note">*</span></div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <select class="form-control select color-3" (change)="GetProvinceId($event)"
                      formControlName="Provinces">
                      <option value="0">Thành phố/ Tỉnh</option>
                      <option *ngFor="let item of Province" value="{{item.id}}">{{item.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <select class="form-control select color-3" (change)="GetDistrictId($event)"
                      formControlName="Districts">
                      <option value="0">Quận/ Huyện</option>
                      <option *ngFor="let item of District" value="{{item.id}}">{{item.prefix}} {{item.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <select class="form-control select color-3" formControlName="WardId">
                      <option value="0">Phường/ Xã</option>
                      <option *ngFor="let item of Ward" value="{{item.id}}">{{item.prefix}} {{item.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control select color-3 border-b4 p-1" placeholder="Số nhà"
                      formControlName="ApartmentNumber">
                  </div>
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control select color-3 border-b4 p-1" placeholder="Tên đường"
                      formControlName="StreetNames" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="fontsize-14 color-3 pb-3">Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy
                  sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo <img src="assets/img/map.png" title="mapmarker">
                  icon
                  tới đúng vị trí của tin rao.</div>
                <div class="">
                  <agm-map
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [zoom]="zoom" >
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                  </agm-map>
                </div>
              </div>
              <div class="form-group">
                <div class="fontsize-14 color-3 font-weight-bold mb-3">Thông tin mô tả <span class="note">*</span></div>
                <textarea class="form-control select color-3 border-b4 height-150 p-1"
                  placeholder="Giới thiệu chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần công viên, gần trường học... &#10;Tổng diện tích 52m2, đường đi ô tô vào tận cửa… Thông tin nội thất &#10;Lưu ý: giá tiền thể hiện mệnh giá tiền Việt Nam."
                  formControlName="Description"></textarea>
              </div>
              <div>
                <div class="font-weight-bold">Thông tin cơ bản <span class="note">*</span></div>
                <div class="row typeitem d-flex py-1">
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Hướng nhà</div>
                      <div class="col-md-9 pl0">
                        <select class="form-control select color-3" formControlName="HouseDirectionId">
                          <option value="0">Vui lòng chọn</option>
                          <option *ngFor="let item of Direction" value="{{item.id}}">{{item.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Giấy tờ</div>
                      <div class="col-md-9 pl0">
                        <select class="form-control select color-3 pr0" formControlName="LegalPapersId">
                          <option value="0">Vui lòng chọn</option>
                          <option *ngFor="let item of LegalPaper" value="{{item.id}}">{{item.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Phòng ngủ</div>
                      <div class="col-md-9 pl0">
                        <input type="number" class="form-control select color-3 border-b4 p-1" placeholder="Số phòng"
                          formControlName="NumberOfBedrooms">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Chiều dài</div>
                      <div class="col-md-9 pl0">
                        <input type="number" class="form-control select color-3 border-b4 p-1 pl0" placeholder="Mét"
                          name="Length" [(ngModel)]="formModels.Length" formControlName="Length" (change)="Area()">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Phòng tắm</div>
                      <div class="col-md-9 pl0">
                        <input type="number" class="form-control select color-3 border-b4 p-1 pl0"
                          placeholder="Số phòng" formControlName="NumberOfWCs">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Chiều rộng</div>
                      <div class="col-md-9 pl0">
                        <input type="number" class="form-control select color-3 border-b4 p-1 pl0" placeholder="Số mét"
                          name="Width" [(ngModel)]="formModels.Width" [(ngModel)]="form.Width" formControlName="Width"
                          (change)="Area()">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Tình trạng thẩm định</div>
                      <div class="col-md-9 pl0">
                        <select class="form-control select color-3 pr0" formControlName="EvaluationStatusId">
                          <option value="0">Vui lòng chọn</option>
                          <option *ngFor="let item of EvaluationStatus" value="{{item.id}}">{{item.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Mặt tiền</div>
                      <div class="col-md-9 pl0">
                        <input type="number" class="form-control select color-3 border-b4 p-1 pl0" placeholder="Số mét"
                          formControlName="Facade">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Tầng</div>
                      <div class="col-md-9 pl0">
                        <input type="text" class="form-control select color-3 border-b4 p-1 pl0"
                          placeholder="vd: 1 trệt + 1 lầu + 1 lững" formControlName="NumberOfStoreys">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Diện tích</div>
                      <div class="col-md-9 pl0">
                        {{formModels.Area}} m<sup>2</sup>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Giá</div>
                      <div class="col-md-9 pl0">
                        <input type="number" class="form-control select color-3 border-b4 p-1"
                          placeholder="Giá tiền VND" formControlName="Price">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="row d-flex align-self-center">
                      <div class="col-md-12 pl0">
                        <label class="radio-item mr-1 my-3">Thỏa thuận
                          <input type="radio" name="radio2">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Ngày đăng</div>
                      <div class="col-md-9 pl0">
                        <input type="date" class="form-control select color-3 border-b4 p-1" formControlName="StartDate"
                          disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Ngày hết hạn</div>
                      <div class="col-md-9 pl0">
                        <input type="date" class="form-control select color-3 border-b4 p-1"
                          [min]="date | date : 'yyyy-MM-dd'" [max]="maxDate | date : 'yyyy-MM-dd'"
                          formControlName="EndDate">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="font-weight-bold">Thông tin liên hệ <span class="note">*</span></div>
                <div class="row typeitem d-flex py-1">
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Tên liên hệ</div>
                      <div class="col-md-9 pl0">
                        <input type="text" class="form-control select color-3 border-b4 p-1"
                          placeholder="Tên người liên hệ" formControlName="ContactName">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pr0 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 d-flex align-items-center pl0">Điện thoại</div>
                      <div class="col-md-9 pl0">
                        <input type="tel" class="form-control select color-3 border-b4 p-1 pl0"
                          placeholder="Số điện thoại liên hệ" formControlName="ContactPhone">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl0">
                    <div class="form-group row">
                      <div class="col-md-3 pl0 d-flex align-items-center pl0">Email</div>
                      <div class="col-md-9 pl0">
                        <input type="email" class="form-control select color-3 border-b4 p-1" placeholder="Email"
                          formControlName="EmailContact">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="font-weight-bold">Hình ảnh và video <span class="note">*</span></div>
                <div class="fontsize-14 color ">Hình ảnh tối đa 8 ảnh, mỗi ảnh tối đa 2MB</div>
                <div class="d-flex flex-wrap-reverse">
                  <div class="py-1 pr-3" [hidden]="imageUrl == ''">
                    <img class="w-100" [src]="imageUrl" title="Image">
                  </div>
                  <div class="ajax-file-upload image-upload py-1 pr-3">
                    <label for="upload-file" class="img-pointer">
                      <img id="image_listing" data-lazy-type="image" data-lazy-src="assets/img/image.png"
                        class=" col-upload-img image_listing loaded loaded" alt="submit" src="assets/img/image.png">
                    </label>
                    <input class="form-control-file" type="file" id="upload-file" data-target="#image_listing"
                      name="image_file[]" accept="image/*, video/*" multiple="" name="Image"
                      (change)="handleFileInput($event.target.files, $event)">
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <label class="checkbox-item color-5">Tôi đồng ý với các điều khoản sử dụng và chịu trách nhiệm pháp lý
                  về
                  bài
                  đăng
                  <input type="checkbox" checked="checked">
                  <span class="checkmark1"></span>
                </label>
              </div>
              <div class="d-flex justify-content-center">
                <re-captcha></re-captcha>
              </div>
              <div class="d-flex justify-content-center flex-wrap">
                <div class="p-1">
                  <button type="submit" class="btn btn-success h40">Lưu thay đổi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-header background-organge text-white text-center font-weight-bold fontsize-14">Hướng dẫn
              đăng
              tin</div>
            <div class="card-body">
              <p class="card-text fontsize-14">Thông tin có dấu (<span class="note">*</span>) là bắt buộc</p>
              <p class="card-text fontsize-14">Không gộp nhiều bất động sản trong một tin rao</p>
              <p class="card-text fontsize-14">Không đăng lại tin đã đăng trên T&T.R.E</p>
              <p class="card-text fontsize-14">Để quá trình đăng tin và duyệt nhanh hơn, xin lưu ý: <span
                  class="price fontsize-14">gõ tiếng việt có dấu và không viết tắt...</span></p>
            </div>
          </div>
          <div>
            <div class="price fontsize-14 font-weight-bold pb-2">T&T.R.E nơi đăng tin BĐS ưu tính chất lượng.</div>
            <div class="fontsize-12 pb-2">Với hơn 100 000 lượt truy cập mỗi ngày, T&T.R.E đã đạt mức tăng trưởng 150%
              chỉ
              trong 4 tháng đầu năm 2020 và tiếp tục khẳng định vị thế là nơi rao vặt nhà đất, quảng cáo nhà đất hiệu
              quả
              nhất hiện nay. Rao vặt nhà đất trên T&T.R.E là phương án tối ưu nhất cho nhu cầu bán, cho thuê nhà đất của
              Quý vị.</div>
            <div class="fontsize-12">Nếu gặp bất kỳ khó khăn gì trong việc đăng ký, đăng nhập, đăng tin hay trong việc
              sử
              dụng website nói chung, Quý vị hãy liên hệ ngay với tổng đài CSKH của chúng tôi: <span
                class="price fontsize-12">1900 6474</span> hoặc email: <span
                class="price fontsize-12">info.realestate@gmail.com.vn</span> để được trợ giúp</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ads3 sticky-top">
    <div class="">
      <img class="w-100" src="assets/img/ads2.png" title="ads">
    </div>
  </div>
</div>