<div class="h05">
  <h5>Quản lý tin rao bán cho thuê</h5>
</div>
<div class="grid-table text-center">
  <div class="thead">
    <div class="tr">
      <div class="td w1">STT</div>
      <div class="td w2">Mã tin</div>
      <div class="td w3">Tiêu Đề</div>
      <div class="td w4">Xem</div>
      <div class="td w5">Ngày bắt đầu</div>
      <div class="td w5">Ngày kết thúc</div>
      <div class="td w2">Trạng thái</div>
    </div>
  </div>
  <div class="tbody">
    <form class="tr">
      <div class="td">
        1
      </div>
      <div class="td">
        ----------
      </div>
      <div class="td text-left">
        ---------------------------------------------------------------------
      </div>
      <div class="td">
        0
      </div>
      <div class="td">
        21/05/2020
      </div>
      <div class="td">
        22/05/2021
      </div>
      <div class="td">
        Chờ duyệt
      </div>
    </form>
  </div>
</div>