<div class="contents">
    <div class="my-3 d-flex">
        <div class="detail col-lg-9 ">
            <div class="boder sub-box text-center">
                <div>
                    <img class="image" src="assets/img/nha1.jpg" title=""></div>
            </div>
            <div class="detailinfo p-2">
                <div>
                    <h1>Nhà bán</h1>
                </div>
                <div class="infoes">
                    <div>
                        <span class="fontprices">10.000.000.000</span>
                        <span class="fontsquare"> - 1000 m²</span>
                    </div>
                    <div>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------------------------------------------------------------------------------------<br>
                        ------------------------------------
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Số tầng: 4
                            </div>
                            <div class="col">
                                Số phòng ngủ: 9
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Số toilet: 11
                            </div>
                            <div class="col">
                                Nội thất:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Hướng Nhà:
                            </div>
                            <div class="col">
                                Giấy tờ pháp lý: Đã có sổ
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Mặt tiền:
                            </div>
                            <div class="col">
                                Đường vào:
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="onClick()" class="btn" type="submit">
                    <i class="fas fa-search-plus"></i> Quay Về</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="infouser mb-3">
                <hr>
                <div>
                    <h5 class="text-primary text-center">Tôn Võ Thủy Tiên</h5>
                </div>
                <div>Mobile: 012xxxxxxx</div>
                <div>Email: tonvothuytien@gmail.com</div>
            </div>
            <div class="text-center">
                <button class="like">
                    Lưu tin &nbsp;<img width="20" src="assets/img/heart.png" alt="like">
                </button>
            </div>
        </div>
    </div>
</div>