<div class="contents margin borders">
    <div class="sub-box padding">
        <div>
            <h1>Nhà bán</h1>
        </div>
        <div class="infoes">
            <b>Khu vực:</b> Thủ Đức<br>
            <b>Giá:</b>10 tỷ <b>Diện Tích:</b> 100 m<sup>2</sup><br>
            Thông tin mô tả:<br>--------------------------------------------------------<br>
            -------------------------------------------------<br>
            -------------------------------------------------<br>
            -------------------------------------------------<br>
            -------------------------------------------------<br>
            -------------------------------------------------<br>
            ------------------------------------
        </div>
        <div>
            <img src="assets/img/nha1.jpg" title="">
        </div>
        <br>
        <div>
        <button (click)="onClick()"class="btn"type="submit">
            <i class="fas fa-search-plus"></i> Quay Về</button></div>
    </div>
</div>