<div class="background-white p-2">
  <div class="d-flex p-1 mb-2">
    <img class="" src="assets/img/find.png" title="find">&nbsp;
    <div class="d-flex align-items-center price font-weight-bold fontsize-12">Đăng ký nhận tin mới</div>
  </div>
  <div class="row h39 mb-1">
    <div class="input-group mb-3">
      <input type="email" class="form-control formcontract borderregist" placeholder="Nhập email của bạn"
        aria-label="Nhập email của bạn" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn background-organge colorads text-justify fontsize-12 btnunhover" type="button"
          id="button-addon2">Đăng Ký</button>
      </div>
    </div>
  </div>
</div>