<div class="container">
  <div class="padding">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <ul class="list-unstyled">
          <li class="media mb-3 p-2 background-white cursorpointer" (click)="Click()">
            <img src="assets/img/TT1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/TT21.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/TT3.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/DangBDS1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/banner1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/TT3.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/BauBangBinhDuong1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/TanBinh1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/HoangMaiHaNoi1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/LienHe1.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/TT3.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
          <li class="media mb-3 p-2 background-white">
            <img src="assets/img/Banner_LienHe.png" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
                thực tiễn.</h5>
              <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00, 20/05/2020</span>
              </div>
              <div>Nhiều doanh nghiệp nước ngoài, trong đó chủ yếu là doanh nghiệp Trung Quốc sở hữu đất tại những khu
                vực “nhạy cảm” ở Việt Nam đang làm dấy lên những lo ngại về an ninh, quốc phòng.</div>
            </div>
          </li>
        </ul>
        <div class="text-center">
          <div class="pagination">
            <a href="#">❮</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">❯</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <app-Register></app-Register>
          </div>
          <div class="mb-3">
            <app-Mostview></app-Mostview>
          </div>
          <div class="d-flex justify-content-center">
            <div class="ads1">
              <img class="w-100 h-100" src="assets/img/ads1.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>