<div class="contents margin borders">
  <div class="sub-box padding">
      <div>
          <h2>Tình hình bất động sản ngày 21/05/2020</h2>
      </div>
      <div class="infoes">
          --------------------------------------------------------<br>
          -------------------------------------------------<br>
          -------------------------------------------------<br>
          -------------------------------------------------<br>
          -------------------------------------------------<br>
          -------------------------------------------------<br>
          ------------------------------------     
          <img src="assets/img/nha3.jpg" title="">
      </div>
  </div>
</div>