<div class="card">
  <div class="card-header background-organge text-white text-center font-weight-bold fontsize-14">Tin xem nhiều nhất</div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="media mb-2">
        <img src="assets/img/anhP31.png" class="mr-3" >
        <div class="media-body">
          <div class="fontsize-12 color-3">Biến động giá nhà đất TP.HCM tập trung chủ yếu ở khu Đông</div>
        </div>
      </li>
      <hr>
      <li class="media mb-2">
        <img src="assets/img/anhP31.png" class="mr-3" >
        <div class="media-body">
          <div class="fontsize-12 color-3">Khởi tố giám đốc công ty bất động sản bán dự án ma</div>
        </div>
      </li>
      <hr>
      <li class="media mb-2">
        <img src="assets/img/anhP31.png" class="mr-3" >
        <div class="media-body">
          <div class="fontsize-12 color-3">Giá bất động sản có thể tăng trở lại trong thời gian tới</div>
        </div>
      </li>
      <hr>
      <li class="media mb-2">
        <img src="assets/img/anhP31.png" class="mr-3" >
        <div class="media-body">
          <div class="fontsize-12 color-3">Còn nhiều lựa chọn với bất động sản có giá dưới 1 tỷ đồng</div>
        </div>
      </li>
      <hr>
      <li class="media mb-2">
        <img src="assets/img/anhP31.png" class="mr-3" >
        <div class="media-body">
          <div class="fontsize-12 color-3">Người mua bắt đầu quay trở lại với thị trường Đà Nẵng</div>
        </div>
      </li>
      <hr>
      <li class="media mb-2">
        <img src="assets/img/anhP31.png" class="mr-3" >
        <div class="media-body">
          <div class="fontsize-12 color-3">Dòng vốn đầu tư sẽ tìm đường vào bất động sản sau đại dịch Covid-19</div>
        </div>
      </li>      
    </ul>
  </div>
</div>