<div class="container">
  <div class="padding">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <div class="background-white p-3">
          <h5 class="fontsize-24 font-weight-bold color-3">Bí quyết chọn bất động sản đầu tư sinh lời bền vững</h5>
          <div class="">
            <div class="pb-2">
              <div class="d-flex">
                <div><img src="assets/img/time.png" title="time"><span class="fontsize-14 color">19:00,
                    13/05/2020</span>
                </div>
                <div><span class="d-flex align-items-center colorsymbol">&nbsp;| &nbsp;</span></div>
                <div class="fontsize-12 color-3 d-flex align-items-center">100 view</div>
              </div>
              <div class="d-flex flex-wrap align-items-center">
                <div class="p-1"><img src="assets/img/share1.png" title="share">&nbsp;100 Share</div>
                <div class="d-flex flex-wrap">
                  <div class="p-1"><button class="btn btnshare btn-fb btnunhover d-flex align-items-center"><img
                        src="assets/img/fbf.png" title="fb">&nbsp;<span
                        class="font-weight-bold fontsize-12">Facebook</span></button></div>
                  <div class="p-1"><button class="btn btnshare btn-linkedin btnunhover d-flex align-items-center"><img
                        src="assets/img/in.png" title="in">&nbsp;<span
                        class="font-weight-bold fontsize-12">Linkedin</span></button></div>
                  <div class="p-1"><button class="btn btnshare btn-twitter btnunhover d-flex align-items-center"><img
                        src="assets/img/twitter.png" title="twitter">&nbsp;<span
                        class="font-weight-bold fontsize-12">Twitter</span></button></div>
                  <div class="p-1"><button class="btn btnshare btn-email btnunhover d-flex align-items-center"><img
                        src="assets/img/mail.png" title="mail">&nbsp;<span
                        class="font-weight-bold fontsize-12">Email</span></button></div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="font-weight-bold text-justify pb-3">Làm việc với Chủ tịch UBND TP HCM Nguyễn Thành Phong về
                tiến
                độ
                Dự án chống ngập có xét đến yếu tố biến đổi khí hậu (giai đoạn 1) sáng 23/5, ông Nguyễn Tâm Tiến, Tổng
                giám đốc Tập đoàn Trung Nam – nhà đầu tư công trình, cho biết tổng giá trị xây lắp dự án đã đạt 78%.
              </div>
              <div class="text-justify pb-3">Sau nhiều lần lỗi hẹn vì không có mặt bằng thi công, nhà đầu tư cam kết dự
                án
                chống ngập – tổng vốn gần 10.000 tỷ đồng sẽ hoàn thành vào tháng 10.
                <br><br>
                Làm việc với Chủ tịch UBND TP HCM Nguyễn Thành Phong về tiến độ Dự án chống ngập có xét đến yếu tố biến
                đổi khí hậu (giai đoạn 1) sáng 23/5, ông Nguyễn Tâm Tiến, Tổng giám đốc Tập đoàn Trung Nam – nhà đầu tư
                công trình, cho biết tổng giá trị xây lắp dự án đã đạt 78%.
              </div>
              <div class="text-center pb-3">
                <img class="w-100" src="assets/img/DangBDS2.png" title="image">
                <div class="color">Công nhân đang hoàn thiện hạng mục cống ngăn triều Tân Thuận sáng 23/5. Ảnh: Hữu Công
                </div>
              </div>
              <div class="text-justify pb-3">
                Chủ tịch UBND TP HCM Nguyễn Thành Phong đánh giá công trình chống ngập này góp phần nâng cao chất lượng
                cuộc sống người dân, nhận được sự quan tâm rất lớn. Dự án đã trải qua một số khó khăn trong thời gian
                thi
                công, nhưng qua kiểm tra thực tế công trình cơ bản đạt tiến độ, chỉ còn lắp hệ thống van và chuẩn bị cho
                công tác vận hành công trình.
                <br><br>
                Chủ tịch thành phố chỉ đạo các địa phương còn vướng mặt bằng phải nỗ lực hết sức để bàn giao đúng thời
                hạn
                cho đơn vị thi công kịp tiến độ.
                <br><br>
                Đối với cầu cảng của Công ty Cổ phần Cảng xăng dầu Hàng không Việt Nam, ông Phong nói: “Công trình này
                xây
                dựng ở thành phố mà không có ý kiến của chính quyền là không được. Chưa kể công trình không có giấy phép
                cần phải xử lý nghiêm. UBND huyện Nhà Bè phối hợp với Sở Xây dựng sớm hoàn thiện hồ sơ pháp lý để xử lý
                dứt điểm vụ việc trình UBND thành phố trước ngày 5/6”.
                <br><br>
                Người đứng đầu chính quyền thành phố cũng đồng ý phương án chiếu sáng mỹ thuật tại một số trụ bêtông của
                công trình chống ngập trong nội đô để tạo điểm nhấn cho mỹ quan đô thị theo đề xuất nhà đầu tư.
              </div>
            </div>
          </div>
          <div class="row newsdetails p-2 pt-3">
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp;Tin tức mới - Thới gian đăng
            </div>
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp; Biến động giá nhà đất TP.HCM tập trung chủ yếu ở khu Đông - 19:00,
              20/05/2020
            </div>
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp;Mê đắm với ngôi nhà cấp 4 đẹp tiện nghi và hiện đại dành cho vợ chồng
              trẻ. - 19:00, 20/05/2020
            </div>
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp;Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
              thực tiễn. - 19:00, 20/05/2020
            </div>
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp;Những điều cần biết nếu muốn thế chấp hợp đồng đặt cọc khi vay mua nhà
              - 19:00, 20/05/2020
            </div>
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp;Người nước ngoài “lách luật” sở hữu đất tại Việt Nam: Chính sách đi sau
              thực tiễn. - 19:00, 20/05/2020
            </div>
            <div class="col-lg-12 color-3 newinfo cursorpointer">
              <img src="assets/img/li.png">&nbsp;Những điều cần biết nếu muốn thế chấp hợp đồng đặt cọc khi vay mua nhà
              - 19:00, 20/05/2020
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="mb-3">
          <app-Register></app-Register>
        </div>
        <div class="mb-3">
          <app-Mostview></app-Mostview>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <div class="ads1">
            <img class="w-100 h-100" src="assets/img/ads1.png">
          </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <div class="ads1">
            <img class="w-100 h-100" src="assets/img/ads2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>