<div class="post">
  <div class="h03">
    <h3>ĐĂNG TIN RAO BÁN, CHO THUÊ NHÀ ĐẤT</h3>
  </div>
  <form class="">
    <div class="sub-box mt-3">
      <div class="h05">
        <h5>Thông tin cơ bản</h5>
      </div>
      <div class="padding-10">
        <div class="form-group">
          <label class="news"> Tiêu đề <span class="note">*</span> </label>
          <input type="text" class="input" />
        </div>
        <div>
          <div class="form-group">
            <label class="news base1"> Hình thức <span class="note">*</span></label>
            <input type="text" class="base2">
            <label class="news base1"> Loại <span class="note">*</span></label>
            <input type="text" class="base3">
          </div>
          <div class="form-group">
            <label class="news base1"> Tỉnh/ Thành phố <span class="note">*</span></label>
            <input formControlName="HoTen" class="base2">
            <label class="news base1"> Quận/ Huyện <span class="note">*</span></label>
            <input type="text" formControlName="Mail" class="base3">
          </div>
          <div class="form-group">
            <label class="news base1"> Phường/ Xã </label>
            <input formControlName="DiaChi" class="base2">
            <label class="news base1"> Đường/ Phố </label>
            <input formControlName="DiaChi" class="base3">
          </div>
          <div class="form-group">
            <label class="news base1"> Giá </label>
            <input formControlName="DiaChi" class="base2">
            <label class="news base1"> Đơn vị </label>
            <input formControlName="DiaChi" class="base3">
          </div>
          <div class="form-group">
            <label class="news"> Tổng tiền</label>
          </div>
          <div class="form-group">
            <label class="news"> Địa chỉ <span class="note">*</span> </label>
            <input type="text" class="input" />
          </div>
        </div>
      </div>
    </div>
    <div class="sub-box mt-3">
      <div class="h05">
        <h5>Thông tin mô tả</h5>
      </div>
      <div class="padding-10">
        <div class="form-group">
          <label class="text-dark"><span class="note">*</span> Tối đa chỉ 3000 ký tự </label>
        </div>
        <div>
          <div class="form-group">
            <textarea class="textarea" rows="10" maxlength="3000"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-box mt-3">
      <div class="h05">
        <h5>Thông tin khác</h5>
      </div>
      <div class="padding-10">
        <div>
          <div class="form-group">
            <label class="news base1"> Mặt tiền</label>
            <input type="text" class="base2">
            <label class="news base1"> Đường vào (m)</label>
            <input type="text" class="base3">
          </div>
          <div class="form-group">
            <label class="news base1"> Hướng nhà</label>
            <select class="base2">
              <option value="0">KXĐ</option>
              <option value="1">Đông</option>
              <option value="2">Tây</option>
              <option value="3">Nam</option>
              <option value="4">Bắc</option>
              <option value="5">Đông-Bắc</option>
              <option value="6">Tây-Bắc</option>
              <option value="7">Tây-Nam</option>
              <option value="8">Đông-Nam</option>
            </select>
            <label class="news base1"> Hướng ban công</label>
            <select class="base2 mr-0 ml-2">
              <option value="0">KXĐ</option>
              <option value="1">Đông</option>
              <option value="2">Tây</option>
              <option value="3">Nam</option>
              <option value="4">Bắc</option>
              <option value="5">Đông-Bắc</option>
              <option value="6">Tây-Bắc</option>
              <option value="7">Tây-Nam</option>
              <option value="8">Đông-Nam</option>
            </select>
          </div>
          <div class="form-group">
            <label class="news base1"> Số tầng </label>
            <input formControlName="DiaChi" class="base2">
          </div>
          <div class="form-group">
            <label class="news base1"> Số phòng ngủ </label>
            <input formControlName="DiaChi" class="base2">
            <label class="news base1"> Số toilet </label>
            <input formControlName="DiaChi" class="base3">
          </div>
          <div class="form-group">
            <label class="news float-left"> Nội thất</label>
            <textarea class="input" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label class="news float-left"> Thông tin pháp lý</label>
            <textarea class="input" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-box mt-3">
      <div class="h05">
        <h5>Hình ảnh</h5>
      </div>
    </div>
    <div class="sub-box mt-3">
      <div class="h05">
        <h5>Bản đồ</h5>
      </div>
      <div class="padding-10">
        <div class="form-group">
          <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15676.62165382228!2d106.7116703!3d10.79940645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1589959770429!5m2!1svi!2s"
            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-primary btn-block bg"> Đăng Tin
      </button>
    </div>
  </form>
</div>