<div class="find">
</div>
<div class="py-3 w-100">
  <div class="row reverse">
    <div class="col-lg-6">
      <div class="fontsize-32 font-weight-bold">bất động sản mới nhất</div>
      <div class="fontsize-14 color ">Tìm kiếm thông tin bất động sản mới nhất để bán, thuê và dữ liệu thị trường
      </div>
    </div>
    <div class="col-lg-6 buy align-self-center">
      <div class="d-flex flex-row justify-content-end">
        <div class="fontsize-14 colortitle">Tin bán BĐS mới nhất &nbsp;</div>
        <span class="colorsymbol">| &nbsp;</span>
        <div class="fontsize-14">Tin cho thuê BĐS mới nhất</div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Loại BĐS</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Tình trạng</div>
        </div>
        <div class="card-body">
          <p class="card-title">Carillon 5 - Chính chủ căn 1PN - 1WC - 54m2 - 2.1 tỷ (giá 100%)...</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small class="text-muted">Tân
              Phú, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Tây Bắc <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;74 m2 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bedroom.png" title="bed">&nbsp;3 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bathroom.png" title="bath">&nbsp;2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>5.6 tỷ</span></div>
              <div><span><small class="text-muted">75,6 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Căn hộ</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP2.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Đã thẩm định</div>
        </div>
        <div class="card-body">
          <p class="card-title">Nhà ĐẸP - NỞ HẬU hẻm xe hơi Quận 1 xây dựng kiên cố ...</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
              class="text-muted">Quận 1, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Đông Bắc <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;74 m2 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bedroom.png" title="bed">&nbsp;3 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bathroom.png" title="bath">&nbsp;2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>5.6 tỷ</span></div>
              <div><span><small class="text-muted">75,6 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Đất nền</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP3.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Đã thẩm định</div>
        </div>
        <div class="card-body">
          <p class="card-title">Bán đất nền chính chủ, hẻm xe hơi Quận 12 - Ngay công viên...</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
              class="text-muted">Quận 12, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Tây Bắc <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;109.9 m2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>2.9 tỷ</span></div>
              <div><span><small class="text-muted">26,4 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Đất dự án</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP4.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Chưa thẩm định</div>
        </div>
        <div class="card-body">
          <p class="card-title">Bán đất nền dự án, hẻm xe hơi Quận 7.</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
              class="text-muted">Quận 7, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Tây <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;95,3 m2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>10.5 tỷ</span></div>
              <div><span><small class="text-muted">110,2 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Loại BĐS</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Tình trạng</div>
        </div>
        <div class="card-body">
          <p class="card-title">Carillon 5 - Chính chủ căn 1PN - 1WC - 54m2 - 2.1 tỷ (giá 100%)...</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small class="text-muted">Tân
              Phú, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Tây Bắc <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;74 m2 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bedroom.png" title="bed">&nbsp;3 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bathroom.png" title="bath">&nbsp;2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>5.6 tỷ</span></div>
              <div><span><small class="text-muted">75,6 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Căn hộ</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP2.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Đã thẩm định</div>
        </div>
        <div class="card-body">
          <p class="card-title">Nhà ĐẸP - NỞ HẬU hẻm xe hơi Quận 1 xây dựng kiên cố ...</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
              class="text-muted">Quận 1, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Đông Bắc <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;74 m2 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bedroom.png" title="bed">&nbsp;3 <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/bathroom.png" title="bath">&nbsp;2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>5.6 tỷ</span></div>
              <div><span><small class="text-muted">75,6 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Đất nền</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP3.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Đã thẩm định</div>
        </div>
        <div class="card-body">
          <p class="card-title">Bán đất nền chính chủ, hẻm xe hơi Quận 12 - Ngay công viên...</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
              class="text-muted">Quận 12, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Tây Bắc <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;109.9 m2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>2.9 tỷ</span></div>
              <div><span><small class="text-muted">26,4 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card h-100">
        <div class="img-list">
          <div class="type position-absolute text-right align-self-end">
            <span class="fontsize-12">Đất dự án</span>
          </div>
          <div class="cardimage">
            <div class="rounded-circle btn-left d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">
                < </button>
            </div>
            <div class="btn-right d-flex position-absolute align-content-center">
              <button class="btn btncircle align-self-center">></button>
            </div>
          </div>
          <img class="image" src="assets/img/anhP4.png" title="Home" />
          <div class="status fontsize-12 position-absolute">Chưa thẩm định</div>
        </div>
        <div class="card-body">
          <p class="card-title">Bán đất nền dự án, hẻm xe hơi Quận 7.</p>
          <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
              class="text-muted">Quận 7, Hồ Chí Minh</small></p>
          <div class="d-flex">
            <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;Tây <span
                class="symbol">|</span></p>
            <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;95,3 m2</p>
          </div>
          <hr>
          <div class="d-flex">
            <div class="info">
              <div class="price font-weight-bold"><span>10.5 tỷ</span></div>
              <div><span><small class="text-muted">110,2 triệu/m²</small></span></div>
            </div>
            <div class="like align-self-center">
              <img class="heart" src="assets/img/heart.png" title="heart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-orange fontsize-14">Xem thêm</button>
    </div>
  </div>
</div>
<div class="py-3 w-100">
  <div class="row">
    <div class="col-lg-6">
      <div class="colorsymbol">Danh sách địa điểm</div>
      <div class="fontsize-24 font-weight-bold colorsymbol">Bất động sản nổi bật
      </div>
    </div>
    <div class="col-lg-6 align-self-center">
      <div class="d-flex flex-row justify-content-end">
        <div class="fontsize-14 colorsymbol">Xem thêm ></div>
      </div>
    </div>
  </div>
  <div class="position-relative">
    <div class="row flex-nowrap mediacenter">
      <div class="col-lg-2 col-sm-4 col-6">
        <img class="w-100" src="assets/img/QuanTanPhu.png" title="TanPhu">
        <div class="colortext fontsize-14">Tân Phú, Hồ Chí Minh</div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <img class="w-100" src="assets/img/NhonTracDN.png" title="NhonTrach">
        <div class="colortext fontsize-14">Nhơn Trạch, Đồng Nai</div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <img class="w-100" src="assets/img/NHSDaNang.png" title="NHS">
        <div class="colortext fontsize-14">Ngũ Hành Sơn, Đà Nẵng</div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <img class="w-100" src="assets/img/BauBangBinhDuong.png" title="BauBang">
        <div class="colortext fontsize-14">Bàu Bàng, Bình Dương</div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <img class="w-100" src="assets/img/TanBinh.png" title="TanBinh">
        <div class="colortext fontsize-14">Tân Bình, Hồ Chí Minh</div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <img class="w-100" src="assets/img/HoangMaiHaNoi.png" title="HoangMai">
        <div class="colortext fontsize-14">Hoàng Mai, Hà Nội</div>
      </div>
    </div>
    <div class="position-absolute pre-next ">
      <div class="rounded-circle btn-left btn-left-new d-flex position-absolute align-content-center">
        <button class="btn btncircle align-self-center">
          < </button>
      </div>
      <div class="btn-right-new d-flex position-absolute align-content-center">
        <button class="btn btncircle align-self-center">></button>
      </div>
    </div>
  </div>
</div>
<div class=" py-3 w-100">
  <div class="ads margincontent justify-content-center d-flex align-items-center fontsize-36 colorads font-weight-bold">
    ads</div>
</div>
<div class="py-3 margincontent">
  <div class="d-flex font-weight-bold">
    <div class="fontsize-32">Từ khóa </div>
    &nbsp;
    <div class="fontsize-32 price">hot</div>
  </div>
  <div class="py-3 row flex-nowrap">
    <div class="col-lg-2 col-sm-4 col-6">
      <div class="keytext colortext fontsize-14 justify-content-center d-flex align-items-center">Tân Phú, Hồ Chí Minh</div>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <div class="keytext colortext fontsize-14 justify-content-center d-flex align-items-center">Nhơn Trạch, Đồng Nai
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <div class="keytext colortext fontsize-14 justify-content-center d-flex align-items-center">Ngũ Hành Sơn, Đà Nẵng</div>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <div class="keytext colortext fontsize-14 justify-content-center d-flex align-items-center">Bàu Bàng, Bình Dương</div>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <div class="keytext colortext fontsize-14 justify-content-center d-flex align-items-center">Tân Bình, Hồ Chí Minh</div>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <div class="keytext colortext fontsize-14 justify-content-center d-flex align-items-center">Hoàng Mai, Hà Nội</div>
    </div>
  </div>
</div>