<div class="d-flex pt-3 flex-nowrap">
    <div class="container">
      <div class="padding">
        <div class="row">
          <div class="col-lg-9 col-md-8" *ngFor="let item of Property">
            <div id="carouselExampleIndicators" class="carousel slide pb-3" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" *ngFor="let itemimg of Images"></li>
              </ol>
              <div class="carousel-inner d-flex slideimg">
                <div class="carousel-item justify-content-center active" *ngFor="let itemimgdefault of ImageDefault">
                  <img class="d-block" *ngIf="!subStr(itemimgdefault.linkName)" src="{{itemimgdefault.linkName}}" alt="First slide">
                  <img class="d-block w-100"  *ngIf="subStr(itemimgdefault.linkName)"
                    src="assets/uploadimg/{{itemimgdefault.linkName}}" title="Home" />
                </div>
                <div class="carousel-item justify-content-center" *ngFor="let itemimgnon of ImageNonDefault" >
                  <img class="d-block" *ngIf="!subStr(itemimgnon.linkName)" src="{{itemimgnon.linkName}}" alt="Second slide">
                  <img class="d-block w-100" *ngIf="subStr(itemimgnon.linkName)" src="assets/uploadimg/{{itemimgnon.linkName}}"
                    title="Home" />
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="" aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="" aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="py-3">
              <div class="fontsize-24 color-3 font-weight-bold">{{item.title}}</div>
              <div class="row">
                <div class="col-lg-6 px-0">
                  <p class="card-text"><img src="assets/img/mapmarker.png" title="mapmarker">&nbsp;<small
                      class="text-muted">{{item.districtName}}, {{item.provinceName}}</small></p>
                  <div class="d-flex">
                    <p class="card-text fontsize-14"><img src="assets/img/location.png" title="location">&nbsp;{{item.directionName}}
                      <span class="symbol">|</span></p>
                    <p class="card-text fontsize-14"><img src="assets/img/area.png" title="area">&nbsp;{{item.area}} m2 <span
                        class="symbol">|</span></p>
                    <p class="card-text fontsize-14"><img src="assets/img/bedroom.png" title="bed">&nbsp;{{item.numberOfBedrooms}} <span
                        class="symbol">|</span></p>
                    <p class="card-text fontsize-14"><img src="assets/img/bathroom.png" title="bath">&nbsp;{{item.numberOfWCs}}</p>
                  </div>
                  <div class="d-flex">
                    <div class="info d-flex text-left">
                      <div class="price font-weight-bold fontsize-24 d-flex align-items-center"><span>{{(item.price/1000000000).toFixed(1)}} tỷ</span></div>
                      <span class="symbol d-flex align-items-center">&nbsp;|&nbsp;</span>
                      <div class="d-flex align-items-center"><span><small class="text-muted">{{((item.price/item.area)/1000000).toFixed(1)}} triệu/m²</small></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="background-white mb-3">
              <div class="fontsize-24 color-3 font-weight-bold">Thông tin mô tả</div>
              <div class="text-justify">
                {{item.description}}
              </div>
            </div>
            <div class="row py-3">
              <div class="col-lg-6 pl-0 paddingx-0">
                <div class="background-white ">
                  <div class="fontsize-24 color-3 font-weight-bold">Giới thiệu</div>
                  <div class="row">
                    <div class="col-lg-6 p-0">
                      <div class="row">
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Hướng: {{item.directionName}}
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Phòng ngủ: {{item.numberOfBedrooms}}
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Phòng tắm: {{item.numberOfWCs}}
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Nhà vệ sinh: {{item.numberOfWCs}}
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Tầng: {{item.numberOfStoreys}}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 p-0">
                      <div class="row">
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Giấy tờ: {{item.legalPaperName}}
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Chiều dài: {{item.length}}m
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Chiều rộng: {{item.width}}m
                        </div>
                        <div class="col-lg-12 px-0">
                          <img src="assets/img/li.png">&nbsp;Mặt tiền: {{item.facade}}m
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pr-0 paddingx-0">
                <div class="background-white p-2 h-245">
                  <div class="fontsize-24 color-3 font-weight-bold">Liên hệ</div>
                  <div class="row">
                    <div class="col-lg-12 px-0"><img src="assets/img/li.png">&nbsp;Tên liên lạc: {{item.contactName}}</div>
                    <div class="col-lg-12 px-0"><img src="assets/img/li.png">&nbsp;Mobile: <span class="price font-weight-bold">{{item.contactPhone}}</span></div>
                    <div class="col-lg-12 px-0"><img src="assets/img/li.png">&nbsp;Email: {{item.emailContact}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="mb-3">
            </div>
            <div class="mb-3">
            </div>
          </div>
          <div class="m-2" (click)="OnClickDelete()">
            <button class="btn btn-primary btn-block bg" type="submit">
              Duyệt  
            </button>           
          </div>
        </div>
      </div>
    </div>
  </div>