/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: auto;
}

.header{
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
}

.logo {
    width: 50px; 
    margin: 5px; 
    padding: 10px;  
}
div{
  display: block;
}

.ul{
  position: absolute;
  float: left;
  left: 128px;
  top:0px;
  margin: 15px 0px 15px 0px;
}
.li{
  padding-right: 8px;
  margin-right: 5px;
  float: left;
  text-align:center;
  width: auto;
  top: 0px;
}
.ul1{
  position: absolute;
  float: right;
  right: 0px;
  top:0px;
  margin: 15px 0px 15px 0px;
}
.li1{
  margin: 0 2px;
  float: left;
  text-align:center;
  width: 150px;
  top: 0px;
}

.footer{
    height: 250px;
    clear: both;
    background-color: darkblue;
}

.menu{
    height: 450px;
    background-image: url(assets/img/background.jpg);    
    text-align: center;
}

.left{
    width: 10%;
    height: 500px;
    float: left;
    background-color: #FFFFFF;
}

.contents{
    width: 100%;
    padding-left: 128px;
    padding-right: 128px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFFFFF;
}

.row{
    padding: 10px 0;
    margin:0 -5px;
}

.sub-box{ 
    border: 1px solid gray;
}

.content-list .list .sub-box img{
  width:100%;
}

.img-list{
    align-items: center;
}

.info{opacity: 1;
    background-color: transparent;
    color:#000;
    text-align: center;
    padding: 10px;
}

.col-lg-6,.col-lg-3,.col-lg-9,.col-6,.col-3{
  padding: 5px;
  position: unset;
}

.col-lg-9 P{
  text-align: center;
}
.content-list .list .info h4{color:green}
.content-list .list .info b{color:red}

.content-list .list .info button{ 
    border-radius: 3px;
    width: 100px;
    border: none;
}
.content-list .list .info button:hover{
    cursor: pointer;
}
.row img{
    width: 100%;
    height: 175px;
}

.right{
    width: 10%;
    height: 500px;
    float: right;
    background-color: #FFFFFF;
}

.find{
  padding: 15%;
  margin-left:5%;
  margin-right:5%;
}

.ftext{
  width: 600px;
  height: calc(1.5em + .75rem + 2px);
  margin: 10px;
  border-radius: .25rem;
  padding-left: 5px;
  border: 1px solid #636b7b
}

.borders{
  width: 70%;
  float: left;
}

.margin{
  margin-top: 5px;
  margin-bottom: 5px;
}
.padding{
  padding: 10px;
}

.wapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: white;
  }
  
.wapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: rgba(0,0,0,0.7) ;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.col-md-10, .col-md-8{
  position: unset;
}

.regist{
  text-align: left;   
}

.texts{
  color: red;
}

.title{
  color: yellow;
  text-align: center;
}

.img {
  width: 35px;
}

.background{
  background-color: white;
  width: 100%;
  height: 100%;
}

.note{
  color: red;
}

.tab-header{
  text-align: center;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}

div.form-group {
  color: white;
  font-weight: 700;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

div.form-group.required>label:first-child:after{
  content:'*';
  color: #fff;
  padding-left: 5px;
}

div.form-group input.invalid{
  border: 1px solid #dc3545; 
}

input.form-control,input.form-control:focus{
    border: 1px solid #636b7b;
}

input.form-control:focus{
  box-shadow: none;
}

.text {
  color: white;
  margin-top: -2px;
  text-decoration: none;
}

button[type=submit].btn{
  border-radius: 20px;
  background-color: #04c582;
  color: #fff;
}

.btn {
  text-align: center;
  margin-left: -4px;
}

.wappers {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  background-color: white;
}

.wapped-divs {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  padding: 0px;
}

.tab{
  text-align: left;
  margin-left: 9.5%;
}

.tab h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #fff;
}
.tab h2.active {
  color: black;
  border-bottom: 4px solid black;
}

.h03{
  text-align: center;
}

.h05{
  background-color: cornflowerblue;
  padding: 10px;
  color: #FFFFFF;
}

.padding-10{
  padding: 0px 10px 0px 10px;
}

.post{
  width: 100%;
  float: left; 
  background-color: #FFFFFF;
}

.news{
  color: black;
  width: 10%;
}

.input{
  width: 80%;
  margin-right: 5px;
  margin-left: 85px;
}

.base1{ 
  width: 18%;
}

.base2{ 
  width: 30%;
  margin-right: 30px;
}

.base3{ 
  width: 30%;
  float: right;
}

.ml-2, .mx-2 {
  margin-left: .8rem!important;
}

.dropdown-list {
  padding: 3px 1px;
}

.textarea{
  width: 55%;
  height: 200px;
}
.map{
  width: 100%;
  height: 450px; 
  border:0;
 }

.p-5-5-5-0{
  padding: 5px 5px 5px 0px;
 }

.p-5-0-5-0{
  padding: 5px 0px 5px 0px;
 }

.size{
   width: 100px;
 }

.h04{
   text-transform: uppercase;
   color: blue;
 }

.font{
   font-size: 1rem;
 }

.grid-table
{
  width: 100%;
  display:table;
  margin-top: 10px;
}

.thead
{
  display:table-header-group;
  font-weight:bold;
  border-bottom: 1px solid black;
  text-align: center;   
  width: 100%;
}

.tr
{
  display:table-row;  
}

.td
{
  display:table-cell;
  padding: 10px 1px 1px 5px;
}

.tbody
{
  display:table-row-group;
}

.w1{
  width: 30px;
}

.w2{
  width: 70px;
}

.w3{
  width: 400px;
}

.w4{
  width: 35px;
}

.w5{
  width: 95px;
}