<div class="header">
  <div class="title1 d-flex align-items-center">
    <div class="container findboder colorads">
      <div class="row">
        <div class="col-lg-6 d-flex contact">
          <div class="pr-3">
            <img src="assets/img/phone.png" title="phone">&nbsp;1900 6474
          </div>
          <div class="">
            <img src="assets/img/mail.png" title="email">&nbsp;info.realestate@gmail.com.vn
          </div>
        </div>
        <div class="col-lg-6 text-right e-contact">
          <img class="pr-1" src="assets/img/skype.png" title="skype">
          <img class="px-1" src="assets/img/fb.png" title="facebook">
          <img class="px-1" src="assets/img/zalo.png" title="zalo">
          <img class="pl-1" src="assets/img/youtube.png" title="youtube">
        </div>
      </div>
    </div>
  </div>
  <div class="title2 sticky-top">
    <div class="container findboder">
      <nav class="d-flex justify-content-between navbar navbar-expand-lg navbar-light menus paddingnavbar">
        <a class="navbar-brand logo pt-0" routerLink="/TrangChu"><img class="widthheader"
            src="assets/img/logoheader.png" title="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse listmenu" id="navbarToggler">
          <ul class="navbar-nav menu mr-auto mt-2 mt-lg-0 text-center paddingleft">
            <li class="nav-item itemmenu" [routerLinkActive]="['active']">
              <a class="nav-link subitem p-12" [routerLink]="['./NhaDatBan']">Nhà đất bán</a>
            </li>
            <span class="d-flex align-items-center colorsymbol hide">|</span>
            <li class="nav-item itemmenu" [routerLinkActive]="['active']">
              <a class="nav-link subitem p-12" [routerLink]="['./NhaDatThue']">Nhà đất cho thuê</a>
            </li>
            <span class="d-flex align-items-center colorsymbol hide">|</span>
            <li class="nav-item itemmenu" [routerLinkActive]="['active']">
              <a class="nav-link subitem p-12" [routerLink]="['./CanMua']">Cần mua</a>
            </li>
            <span class="d-flex align-items-center colorsymbol hide">|</span>
            <li class="nav-item itemmenu" [routerLinkActive]="['active']">
              <a class="nav-link subitem p-12" [routerLink]="['./CanThue']">Cần thuê</a>
            </li>
            <span class="d-flex align-items-center colorsymbol hide">|</span>
            <li class="nav-item itemmenu" [routerLinkActive]="['active']">
              <a class="nav-link subitem p-12" [routerLink]="['./TinTuc']">Tin tức BĐS</a>
            </li>
          </ul>
          <div class="addnew d-flex justify-content-between my-2 my-lg-0">
            <div class="pr-3"><button class="btnpost background-organge colorads text-center" (click)="OnClick()">Đăng
                tin BĐS</button>
            </div>
            <div class="px-2 cursorpointer" data-toggle="modal" data-target="#Login" [hidden]="submitted"><img
                src="assets/img/profile.png" title="profile"></div>
            <div class="dropdown" [hidden]="!submitted">
              <div class="px-2 cursorpointer" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/login.png" title="profile">
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item fontsize-14" (click)="onProfile()">Quản lý hồ sơ</div>
                <div class="dropdown-item fontsize-14">Bất động sản đã lưu</div>
                <div class="dropdown-item fontsize-14" (click)="onMyPost()">Danh sách đăng tin BĐS</div>
                <div class="dropdown-item fontsize-14" (click)="onLogout()">Thoát</div>
              </div>
            </div>
            <div class="px-1 cursorpointer"><img src="assets/img/heart_mini.png" title="heart"></div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="align-items-end">
  <div class="container background-white color-5 py-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3"><img class="widthheader" src="assets/img/logoheader.png" title="logo"></div>
        <div class="mb-3">85/4 Nguyễn Thế Truyện, P. Tân Sơn Nhì, Q. Tân Phú, Tp. HCM</div>
        <div class="mb-3">Email: info.realestate@gmail.com.vn</div>
        <div class="font-weight-bold mb-3">Hãy gọi cho chúng tôi để được tư vấn 24/7</div>
        <div class="fontsize-24 price font-weight-bold mb-3">1900 6474</div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="font-weight-bold fontsize-14 mb-3">Về T&T</div>
            <div class="colorhover fontsize-14 mb-3">Giới thiệu</div>
            <div class="colorhover fontsize-14 mb-3">Tuyển dụng</div>
            <div class="colorhover fontsize-14 mb-3">Liên hệ</div>
            <div class="colorhover fontsize-14 mb-3">Thỏa thuận sử dụng</div>
            <div class="colorhover fontsize-14 mb-3">Chính sách bảo mật</div>
          </div>
          <div class="col-lg-4">
            <div class="font-weight-bold fontsize-14 mb-3">Dịch vụ của T&T.R.E</div>
            <div class="colorhover fontsize-14 mb-3">Gửi BĐS miễn phí</div>
            <div class="colorhover fontsize-14 mb-3">Thẩm định BĐS</div>
            <div class="colorhover fontsize-14 mb-3">Thông tin pháp lý BĐS</div>
            <div class="colorhover fontsize-14 mb-3">Thỏa thuận sử dụng</div>
            <div class="colorhover fontsize-14 mb-3">Chính sách bảo mật</div>
          </div>
          <div class="col-lg-4">
            <div class="font-weight-bold fontsize-14 mb-3">Hệ thống của T&T.R.E</div>
            <div class="colorhover fontsize-14 mb-3">Nhà đất bán</div>
            <div class="colorhover fontsize-14 mb-3">Nhà đất cho thuê</div>
            <div class="colorhover fontsize-14 mb-3">Cần mua</div>
            <div class="colorhover fontsize-14 mb-3">Cần thuê</div>
            <div class="colorhover fontsize-14 mb-3">Cộng đồng BĐS T&T.R.E</div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-0">
    <div class="row">
      <div class="col-lg-6">
        <div class="font-weight-bold fontsize-14 mb-3">Tải app Bất động sản T&T.RE miễn phí</div>
        <div class="d-flex">
          <div class="p-1"><img src="assets/img/android.png" title="android"></div>
          <div class="p-1"><img src="assets/img/ios.png" title="ios"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4 hide"></div>
          <div class="col-lg-4 hide"></div>
          <div class="col-lg-4">
            <div class="font-weight-bold fontsize-14 mb-3">Liên hệ với chúng tôi</div>
            <div>
              <img class="p-1" src="assets/img/skype_b.png" title="skype">
              <img class="p-1" src="assets/img/fb_b.png" title="facebook">
              <img class="p-1" src="assets/img/zalo_b.png" title="zalo">
              <img class="p-1" src="assets/img/youtube_b.png" title="youtube">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer justify-content-center d-flex align-items-center colorads">
    <div class="fontsize-14">© 2019 T&T CO., LTD. All rights reserved.</div>
  </div>
</div>
<div class="modal" id="Login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog w-32" role="document">
    <div class="modal-content">
      <div class="modal-header pb0 pt0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt0">
        <h5 class="modal-title price fontsize-32 font-weight-bold text-center" id="loginLabel">Đăng nhập</h5>
        <form #forms='ngForm' autocomplete="off" (submit)="onSubmits(forms)">
          <div class="form-group">
            <label for="email" class="col-form-label color fontsize-14">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Tên đăng nhập/ email" #UserName="ngModel"
              name="UserName" [(ngModel)]="formModels.UserName" required>
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label color fontsize-14">Mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="********" #Password="ngModel"
              name="Password" [(ngModel)]="formModels.Password" required>
          </div>
          <div class="form-group">
            <div class="text-right price fontsize-12 cursorpointer"
              onclick="$('#Login').modal('hide'); $('#Forgotpassword').modal('show');">Quên mật khẩu ?</div>
          </div>
          <div class="d-flex justify-content-center pb-2">
            <button type="submit" class="btn background-organge colorads text-center btnunhover h40"
              [disabled]="forms.invalid">Đăng nhập</button>
          </div>
        </form>
        <div class="d-flex justify-content-center">
          <div class="fontsize-12">Chưa có tài khoản ? <span class="price font-weight-bold cursorpointer fontsize-12"
              onclick="$('#Login').modal('hide'); $('#Signup').modal('show');">Đăng ký!</span></div>
        </div>
        <div class="d-flex p-3">
          <hr class="or">
          <div class="color fontsize-12">&nbsp;Hoặc&nbsp;</div>
          <hr class="or">
        </div>
        <div class="d-flex justify-content-center pb-3">
          <div class="sociallogin">
            <button type="button" class="btn btnlogin fontsize-14"><img src="assets/img/facebook.png"
                title="fb">&nbsp;Đăng nhập Facebook</button>
            <button type="button" class="btn btnlogin fontsize-14"><img src="assets/img/google.png"
                title="google">&nbsp;Đăng nhập Google</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="Signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pb0 pt0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt0">
        <h5 class="modal-title price fontsize-32 font-weight-bold text-center" id="signupLabel">Đăng ký</h5>
        <form [formGroup]="service.formModel" #form='ngForm' autocomplete="off" (submit)="onSubmit()">
          <div class="form-group required">
            <label for="email" class="col-form-label color fontsize-14">Email </label>
            <input type="email" class="form-control" id="email" placeholder="Tên đăng nhập/ email"
              formControlName="UserName">
            <label class="text-danger"
              *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.email">Tên
              đăng nhập không được để trống.</label>
          </div>
          <div formGroupName="Passwords">
            <div class="form-group required">
              <label for="password" class="col-form-label color fontsize-14">Mật khẩu</label>
              <input type="password" class="form-control" id="password" placeholder="********"
                formControlName="Password">
              <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Mật
                khẩu không được để trống.</label>
              <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Mật
                khẩu ít nhất 6 ký tự</label>
            </div>
            <div class="form-group required">
              <label for="passwordagain" class="col-form-label color fontsize-14">Nhập lại mật khẩu</label>
              <input type="password" class="form-control" id="passwordagain" placeholder="********"
                formControlName="ConfirmPassword">
              <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Mật
                khẩu nhập lại không được để trống.</label>
              <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Mật
                khẩu nhập lại không chính xác.</label>
            </div>
          </div>
          <div class="form-group required">
            <label for="name" class="col-form-label color fontsize-14">Họ và tên</label>
            <input type="text" class="form-control" id="name" placeholder="Họ và tên" formControlName="FullName">
            <label class="text-danger"
              *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">Tên
              không được để tống.</label>
          </div>
          <div class="form-group required">
            <div class="d-flex">
              <label for="item" class="radio-item mr-1 fontsize-14">Nam
                <input id="item" type="radio" checked="checked" name="Gender" formControlName="Gender" value="Nam">
                <span class="checkmark"></span>
              </label>
              <label for="item1" class="radio-item mr-1 fontsize-14">Nữ
                <input id="item1" type="radio" name="Gender" formControlName="Gender" value="Nữ">
                <span class="checkmark"></span>
              </label>
            </div>
            <label class="text-danger"
              *ngIf="service.formModel.get('Gender').touched && service.formModel.get('Gender').errors?.required">Giới
              tính không được để tống.</label>
          </div>
          <div class="pb-3">
            <div class="row">
              <div class="col-md-4 pl0">
                <div class="form-group">
                  <select class="select color-3" (change)="GetProvinceId($event)">
                    <option value="0">Thành phố/ Tỉnh</option>
                    <option *ngFor="let item of Province" value="{{item.id}}">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 pl0">
                <div class="form-group">
                  <select class="select color-3" (change)="GetDistrictId($event)">
                    <option value="0">Quận/ Huyện</option>
                    <option *ngFor="let item of District" value="{{item.id}}">{{item.prefix}} {{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 pl0 pr0">
                <div class="form-group required">
                  <select class="select color-3" formControlName="WardId">
                    <option value="0">Phường/ Xã</option>
                    <option *ngFor="let item of Wards" value="{{item.id}}">{{item.prefix}} {{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label for="name" class="col-form-label color fontsize-14">Mã số thuế cá nhân/ CMND/ CCCD</label>
            <input type="text" class="form-control" id="name" placeholder="Mã số thuế cá nhân/ CMND/ CCCD"
              formControlName="IdentityNumber">
            <label class="text-danger"
              *ngIf="service.formModel.get('IdentityNumber').touched && service.formModel.get('IdentityNumber').errors?.required">CMND/
              CCCD không được để tống.</label>
          </div>
          <div class="form-group d-flex justify-content-center">
            <label class="checkbox-item color fontsize-12">Tôi đã đọc và đồng ý với các Quy định bảo mật và Thỏa thuận
              sử dụng
              <input type="checkbox" checked="checked">
              <span class="checkmark1"></span>
            </label>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-center">
              <re-captcha></re-captcha>
            </div>
          </div>
          <div class="d-flex justify-content-center pb-2">
            <button type="submit" class="btn background-organge colorads text-center btnunhover h40"
              [disabled]="!service.formModel.valid">Đăng ký</button>
          </div>
        </form>
        <div class="d-flex justify-content-center">
          <div class="fontsize-12">Đã có tài khoản ? <span class="price font-weight-bold cursorpointer fontsize-12"
              onclick="$('#Signup').modal('hide'); $('#Login').modal('show');">Đăng nhập ngay!</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="Forgotpassword" tabindex="-1" role="dialog" aria-labelledby="forgotpasswordLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pb0 pt0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt0">
        <h5 class="modal-title price fontsize-32 font-weight-bold text-center" id="forgotpasswordLabel">Quên mật khẩu
        </h5>
        <form>
          <div class="form-group">
            <label for="email" class="col-form-label color fontsize-14">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </form>
        <div class="d-flex justify-content-center pb-2">
          <button type="button" class="btn background-organge colorads text-center btnunhover h40">Gửi</button>
        </div>
      </div>
    </div>
  </div>
</div>