<div class="contents mb-3">
  <div class="sub-box p-2 mt-3">
    <a routerLink='/NewsDetail'>
      <div class="h04">Tình hình bất động sản ngày 21/05/2020</div>
    </a>
    <div class="content">
      <img src="assets/img/nha5.jpg" />
      <div class="infoes">
        <p> ------------------------------------------------------------------------------------
          -------------------------------------------------------------------------------------
          -----------------------------------------------
        </p>
      </div>
    </div>
  </div>
  <div class="sub-box p-2 mt-3">
    <div class="h04">Tình hình bất động sản ngày 22/05/2020</div>
    <div class="content">
      <img src="assets/img/nha4.jpg" />
      <div class="infoes">
        <p> ------------------------------------------------------------------------------------
          -------------------------------------------------------------------------------------
          -----------------------------------------------
        </p>
      </div>
    </div>
  </div>
</div>